<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fileManager.mapper.LogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fileManager.pojo.Logs">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="file_id" property="fileId" />
        <result column="action" property="action" />
        <result column="action_time" property="actionTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, file_id, action, action_time
    </sql>

</mapper>
